<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <h1>Bolas de futebol usadas nos torneios mais importante do futebol mundial.</h1>

<br>
<br>


 



  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://static.netshoes.com.br/produtos/44/3ZP-7542-044/3ZP-7542-044_zoom1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bola de Futebol copa do mundo 2022</h5>
            <p class="card-text">R$ 350,00.</p>
            <a href="/produto" class="btn btn-primary">Compre</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://th.bing.com/th/id/OIP.lBN49ENNlP4SVoIcGaLVywHaHa?pid=ImgDet&rs=1" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bola de futebol copa do mundo 2018</h5>
            <p class="card-text">R$ 250,00</p>
            <a href="/produto" class="btn btn-primary">Compre</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://th.bing.com/th/id/OIP.NS6_6G8OXKGhVv7HTB4QxAHaHa?pid=ImgDet&rs=1" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bola de futebol adidas</h5>
            <p class="card-text">R$200,00</p>
            <a href="/produto" class="btn btn-primary">Compre</a>
          </div>
        </div>
      </div>
    </div>
  </div>


<br>
<br>


  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://static.netshoes.com.br/produtos/bola-de-futebol-campo-nike-strike/14/HZM-2868-114/HZM-2868-114_zoom1.jpg?ts=1581119857&" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bola de Futebol nike</h5>
            <p class="card-text">R$300,00.</p>
            <a href="/produto" class="btn btn-primary">Compre</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://th.bing.com/th/id/R.56a640845e726b4ba25fc98506cfe5ed?rik=7TH5SVInCmwOLQ&pid=ImgRaw&r=0" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bola de futebol champions league rosa</h5>
            <p class="card-text">R$350,00.</p>
            <a href="/produto" class="btn btn-primary">Compre</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://th.bing.com/th/id/OIP.JrQ9mykaQZukIpfQo-1AIwHaHa?pid=ImgDet&rs=1" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bola de futebol champions league azul</h5>
            <p class="card-text">R$350,00.</p>
            <a href="/produto" class="btn btn-primary">Compre</a>
          </div>
        </div>
      </div>
    </div>
  </div>





</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>










